In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('survey_results_public.csv')

In [27]:
required_data = pd.read_csv("required_data.csv")

In [28]:
df['AIDevHaveWorkedWith'] = df['AIDevHaveWorkedWith'].str.split(';')
df['AIDevWantToWorkWith'] = df['AIDevWantToWorkWith'].str.split(';')

In [29]:
df[['AIDevHaveWorkedWith', 'AIDevWantToWorkWith']].head(5)

  AIDevHaveWorkedWith AIDevWantToWorkWith
0                 NaN                 NaN
1    [GitHub Copilot]    [GitHub Copilot]
2                 NaN                 NaN
3                 NaN                 NaN
4                 NaN                 NaN

In [30]:
DevAIdf = df[['ResponseId', 'AIDevHaveWorkedWith', 'AIDevWantToWorkWith']]

In [31]:
DevAIdf = required_data.merge(DevAIdf, how='left', on='ResponseId')

In [32]:
AIDevWorkedWithDF = DevAIdf[['ResponseId', 'AIDevHaveWorkedWith']]

In [33]:
AIDevWorkedWithDF = AIDevWorkedWithDF.explode('AIDevHaveWorkedWith')

In [34]:
AIDevWorkedWithDF['AIDevHaveWorkedWith'] = AIDevWorkedWithDF['AIDevHaveWorkedWith'].str.replace(r"\[|\]", "", regex=True)

In [35]:
DevAI_count = AIDevWorkedWithDF['AIDevHaveWorkedWith'].value_counts()

In [36]:
DevAI_count.head()

AIDevHaveWorkedWith
GitHub Copilot       22066
Tabnine               5184
AWS CodeWhisperer     2068
Synk Code              538
Codeium                503
Name: count, dtype: int64

In [37]:
AIDevWorkedWithDF['AIDevHaveWorkedWith'].unique()

array(['GitHub Copilot', nan, 'Tabnine', 'AWS CodeWhisperer',
       'Adrenaline', 'Replit Ghostwriter', 'Synk Code', 'Mintlify',
       'Whispr AI', 'Rubber Duck.AI', 'Codeium'], dtype=object)

In [38]:
result = AIDevWorkedWithDF.merge(required_data, how='right', on='ResponseId')

In [39]:
employedDevAIcount = result[result['Employment'] == 'Employed'].groupby(by='AIDevHaveWorkedWith', as_index=False, sort=False)['ResponseId'].count()
employedDevAIcount.nlargest(10, 'ResponseId')

  AIDevHaveWorkedWith  ResponseId
0      GitHub Copilot       15102
1             Tabnine        3061
3   AWS CodeWhisperer        1372
4           Synk Code         399
9             Codeium         296
7           Whispr AI         236
5            Mintlify         129
6  Replit Ghostwriter         129
2          Adrenaline          94
8      Rubber Duck.AI          82

In [40]:
studentDevAIcount = result[result['Employment'] == 'Student'].groupby(by='AIDevHaveWorkedWith', as_index=False, sort=False)['ResponseId'].count()
studentDevAIcount.nlargest(10, 'ResponseId')

  AIDevHaveWorkedWith  ResponseId
1      GitHub Copilot        3248
2             Tabnine        1054
4   AWS CodeWhisperer         294
0  Replit Ghostwriter         103
9             Codeium          90
3           Whispr AI          87
7           Synk Code          45
6            Mintlify          33
5          Adrenaline          18
8      Rubber Duck.AI          18

In [41]:
DevAIcount = result[result['DevType'] == 'Data or business analyst'].groupby(by='AIDevHaveWorkedWith', as_index=False, sort=False)['ResponseId'].count()
DevAIcount.nlargest(10, 'ResponseId')

  AIDevHaveWorkedWith  ResponseId
0      GitHub Copilot         118
1             Tabnine          30
2   AWS CodeWhisperer          17
8           Whispr AI           8
4           Synk Code           5
3  Replit Ghostwriter           4
5          Adrenaline           4
6            Mintlify           4
7      Rubber Duck.AI           2
9             Codeium           2

In [42]:
DevAIWantToWorkDF = DevAIdf[['ResponseId', 'AIDevWantToWorkWith']]

In [43]:
DevAIWantToWorkDF = DevAIWantToWorkDF.explode('AIDevWantToWorkWith')

In [44]:
DevAIWantToWorkDF['AIDevWantToWorkWith'] = DevAIWantToWorkDF['AIDevWantToWorkWith'].str.replace(r"\[|\]", "", regex=True)

In [45]:
desireDevAI_count = DevAIWantToWorkDF['AIDevWantToWorkWith'].value_counts()

In [46]:
desireDevAI_count.head()

AIDevWantToWorkWith
GitHub Copilot        17294
AWS CodeWhisperer      3044
Tabnine                2214
Whispr AI               821
Replit Ghostwriter      553
Name: count, dtype: int64

In [47]:
result1 = DevAIWantToWorkDF.merge(required_data, how='right', on='ResponseId')

In [48]:
employedDevAIdesirecount = result1[result1['Employment'] == 'Employed'].groupby(by='AIDevWantToWorkWith', as_index=False, sort=False)['ResponseId'].count()
employedDevAIdesirecount.nlargest(10, 'ResponseId')

  AIDevWantToWorkWith  ResponseId
0      GitHub Copilot       11737
1   AWS CodeWhisperer        2006
3             Tabnine        1300
8           Whispr AI         494
2           Synk Code         369
9             Codeium         317
6  Replit Ghostwriter         312
7      Rubber Duck.AI         215
4            Mintlify         159
5          Adrenaline         157

In [49]:
studentDevAIdesirecount = result1[result1['Employment'] == 'Student'].groupby(by='AIDevWantToWorkWith', as_index=False, sort=False)['ResponseId'].count()
studentDevAIdesirecount.nlargest(10, 'ResponseId')

  AIDevWantToWorkWith  ResponseId
1      GitHub Copilot        2616
3   AWS CodeWhisperer         458
2             Tabnine         420
6           Whispr AI         131
0  Replit Ghostwriter         113
9             Codeium          96
7           Synk Code          58
5      Rubber Duck.AI          53
8          Adrenaline          36
4            Mintlify          33

In [50]:
DevAIdesirecount = result1[result1['DevType'] == 'Data or business analyst'].groupby(by='AIDevWantToWorkWith', as_index=False, sort=False)['ResponseId'].count()
DevAIdesirecount.nlargest(10, 'ResponseId')

  AIDevWantToWorkWith  ResponseId
0      GitHub Copilot          97
2   AWS CodeWhisperer          24
3             Tabnine          12
1           Whispr AI           9
5  Replit Ghostwriter           5
4           Synk Code           4
6          Adrenaline           4
8      Rubber Duck.AI           2
9             Codeium           2
7            Mintlify           1

In [51]:
AIDevWorkedWithDF = AIDevWorkedWithDF.dropna()

In [53]:
AIDevWorkedWithDF.to_csv('DevAIHaveWorkedWith.csv')

In [25]:
DevAIdf = df[['AIDevWantToWorkWith','AIDevHaveWorkedWith', 'ResponseId']]

In [56]:
DevAIdf = required_data.merge(DevAIdf, how='left', on='ResponseId')

In [57]:
DevAIdf = DevAIdf.dropna()

In [58]:
def process_DevAI(row):
    list1 = row['AIDevHaveWorkedWith']
    list2 = row['AIDevWantToWorkWith']
    list3 = set(list1) & set(list2)
    return list(list3)

DevAIdf['continueDevAI'] = DevAIdf.apply(process_DevAI, axis=1)

In [59]:
def process_DevAI(row):
    list1 = row['AIDevHaveWorkedWith']
    list2 = row['AIDevWantToWorkWith']
    list3 = set(list2) - set(list1)
    return list(list3)

DevAIdf['newDevAI'] = DevAIdf.apply(process_DevAI, axis=1)

In [60]:
DevAIdf.head()

,Unnamed: 0_x,ResponseId,MainBranch_x,Age_x,Employment_x,RemoteWork_x,EdLevel_x,YearsCode_x,DevType_x,Country_x,...,RemoteWork_y,EdLevel_y,YearsCode_y,DevType_y,Country_y,AISelect_y,AIDevHaveWorkedWith,AIDevWantToWorkWith,continueDevAI,newDevAI
0,1,2,Professional coder,25-34,Employed,Remote,Bachelor’s degree,18,"Senior Executive (C-Suite, VP, etc.)",United States of America,...,Remote,Bachelor’s degree,18,"Senior Executive (C-Suite, VP, etc.)",United States of America,Yes,[GitHub Copilot],[GitHub Copilot],[GitHub Copilot],[]
6,7,8,Professional coder,25-34,Employed,Remote,Bachelor’s degree,5,"Developer, full-stack",United States of America,...,Remote,Bachelor’s degree,5,"Developer, full-stack",United States of America,Yes,[GitHub Copilot],[GitHub Copilot],[GitHub Copilot],[]
8,9,10,Professional coder,25-34,Not employed,Not Applicable,Bachelor’s degree,6,"Developer, full-stack",India,...,Not Applicable,Bachelor’s degree,6,"Developer, full-stack",India,Yes,"[AWS CodeWhisperer, GitHub Copilot, Tabnine]","[AWS CodeWhisperer, GitHub Copilot]","[AWS CodeWhisperer, GitHub Copilot]",[]
10,11,12,Professional coder,25-34,Employed,Remote,Bachelor’s degree,10,"Developer, full-stack",Australia,...,Remote,Bachelor’s degree,10,"Developer, full-stack",Australia,Yes,[GitHub Copilot],[GitHub Copilot],[GitHub Copilot],[]
14,15,16,Professional coder,35-44,Employed,Hybrid,Master’s degree,15,"Developer, back-end",Germany,...,Hybrid,Master’s degree,15,"Developer, back-end",Germany,Yes,[GitHub Copilot],[GitHub Copilot],[GitHub Copilot],[]

In [61]:
DevAIuse = DevAIdf[['continueDevAI', 'ResponseId']]
DevAIuse = DevAIuse.explode('continueDevAI')

In [62]:
DevAIuse = DevAIuse.groupby(by='continueDevAI', as_index=False)['ResponseId'].count()

In [63]:
desireDevAI = DevAIdf[['newDevAI', 'ResponseId']]
desireDevAI = desireDevAI.explode('newDevAI')

In [64]:
desireDevAI = desireDevAI.groupby(by='newDevAI', as_index=False)['ResponseId'].count()

In [65]:
DevAITable = DevAIuse.merge(desireDevAI, how='inner', left_on='continueDevAI', right_on='newDevAI')

In [67]:
DevAITable = DevAITable[['continueDevAI', 'ResponseId_x', 'ResponseId_y']]
DevAITable.rename(columns={
    'continueDevAI':'DevAI',
    'ResponseId_x':'CurrentlyUsed',
    'ResponseId_y':'DesiredToUse'
}, inplace=True)
DevAITable

C:\Users\Namrata\AppData\Local\Temp\ipykernel_5656\2960764590.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DevAITable.rename(columns={

                DevAI  CurrentlyUsed  DesiredToUse
0   AWS CodeWhisperer           1090          1954
1          Adrenaline             88           183
2             Codeium            327           207
3      GitHub Copilot          15961          1333
4            Mintlify            110           143
5  Replit Ghostwriter            145           408
6      Rubber Duck.AI             72           288
7           Synk Code            279           250
8             Tabnine           1895           319
9           Whispr AI            249           572

In [72]:
DevAITable.to_csv('DevAITable.csv')

In [68]:
difference = DevAIuse.merge(desireDevAI, how='inner', left_on='continueDevAI', right_on = 'newDevAI')

In [69]:
difference

        continueDevAI  ResponseId_x            newDevAI  ResponseId_y
0   AWS CodeWhisperer          1090   AWS CodeWhisperer          1954
1          Adrenaline            88          Adrenaline           183
2             Codeium           327             Codeium           207
3      GitHub Copilot         15961      GitHub Copilot          1333
4            Mintlify           110            Mintlify           143
5  Replit Ghostwriter           145  Replit Ghostwriter           408
6      Rubber Duck.AI            72      Rubber Duck.AI           288
7           Synk Code           279           Synk Code           250
8             Tabnine          1895             Tabnine           319
9           Whispr AI           249           Whispr AI           572

In [70]:
difference.nlargest(10, 'ResponseId_y')

        continueDevAI  ResponseId_x            newDevAI  ResponseId_y
0   AWS CodeWhisperer          1090   AWS CodeWhisperer          1954
3      GitHub Copilot         15961      GitHub Copilot          1333
9           Whispr AI           249           Whispr AI           572
5  Replit Ghostwriter           145  Replit Ghostwriter           408
8             Tabnine          1895             Tabnine           319
6      Rubber Duck.AI            72      Rubber Duck.AI           288
7           Synk Code           279           Synk Code           250
2             Codeium           327             Codeium           207
1          Adrenaline            88          Adrenaline           183
4            Mintlify           110            Mintlify           143

In [71]:
difference.nlargest(10, 'ResponseId_x')

        continueDevAI  ResponseId_x            newDevAI  ResponseId_y
3      GitHub Copilot         15961      GitHub Copilot          1333
8             Tabnine          1895             Tabnine           319
0   AWS CodeWhisperer          1090   AWS CodeWhisperer          1954
2             Codeium           327             Codeium           207
7           Synk Code           279           Synk Code           250
9           Whispr AI           249           Whispr AI           572
5  Replit Ghostwriter           145  Replit Ghostwriter           408
4            Mintlify           110            Mintlify           143
1          Adrenaline            88          Adrenaline           183
6      Rubber Duck.AI            72      Rubber Duck.AI           288