In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('survey_results_public.csv')

In [3]:
required_data = pd.read_csv("required_data.csv")

In [4]:
df['LanguageHaveWorkedWith'] = df['LanguageHaveWorkedWith'].str.split(';')
df['LanguageWantToWorkWith'] = df['LanguageWantToWorkWith'].str.split(';')

In [5]:
df[['LanguageHaveWorkedWith', 'LanguageWantToWorkWith']].head(5)

,LanguageHaveWorkedWith,LanguageWantToWorkWith
0,NaN,NaN
1,"[HTML/CSS, JavaScript, Python]","[Bash/Shell (all shells), C#, Dart, Elixir, GD..."
2,"[Bash/Shell (all shells), Go]","[Haskell, OCaml, Rust]"
3,"[Bash/Shell (all shells), HTML/CSS, JavaScript...","[Bash/Shell (all shells), HTML/CSS, JavaScript..."
4,"[HTML/CSS, JavaScript, TypeScript]","[HTML/CSS, JavaScript, Python, Rust, TypeScript]"

In [7]:
LanguagesDF = df[['ResponseId', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith']]

In [8]:
LanguagesDF = required_data.merge(LanguagesDF, how='left', on='ResponseId')

In [9]:
LangHaveWorkedDF = LanguagesDF[['ResponseId', 'LanguageHaveWorkedWith']]

In [10]:
LangHaveWorkedDF = LangHaveWorkedDF.explode('LanguageHaveWorkedWith')

In [11]:
LangHaveWorkedDF['LanguageHaveWorkedWith'] = LangHaveWorkedDF['LanguageHaveWorkedWith'].str.replace(r"\[|\]", "", regex=True)

In [12]:
language_count = LangHaveWorkedDF['LanguageHaveWorkedWith'].value_counts()

In [13]:
language_count.head()

LanguageHaveWorkedWith
JavaScript    55673
HTML/CSS      46356
Python        43114
SQL           42600
TypeScript    34022
Name: count, dtype: int64

In [14]:
LangHaveWorkedDF['LanguageHaveWorkedWith'].unique()

array(['HTML/CSS', 'JavaScript', 'Python', 'Bash/Shell (all shells)',
       'Go', 'PHP', 'Ruby', 'SQL', 'TypeScript', 'Ada', 'Clojure',
       'Elixir', 'Java', 'Lisp', 'OCaml', 'Raku', 'Scala', 'Swift', 'Zig',
       'Rust', 'C#', 'PowerShell', 'C++', 'Kotlin', 'Solidity', 'C',
       'Perl', 'Dart', 'Haskell', 'Assembly', 'Delphi', 'R', 'Lua',
       'MATLAB', 'VBA', 'Visual Basic (.Net)', 'Julia', 'F#', nan,
       'Groovy', 'APL', 'Objective-C', 'GDScript', 'Crystal', 'Cobol',
       'Fortran', 'Prolog', 'Erlang', 'Apex', 'SAS', 'Nim', 'Flow'],
      dtype=object)

In [15]:
result = LangHaveWorkedDF.merge(required_data, how='left', on='ResponseId')

In [41]:
employedLangCount = result[result['MainBranch'] == 'Professional coder'].groupby(by='LanguageHaveWorkedWith', as_index=False, sort=False)['ResponseId'].count()
employedLangCount.nlargest(10, 'ResponseId')

     LanguageHaveWorkedWith  ResponseId
1                JavaScript       44118
0                  HTML/CSS       35410
7                       SQL       34532
2                    Python       30375
8                TypeScript       29320
3   Bash/Shell (all shells)       21950
12                     Java       20432
20                       C#       19544
21                      C++       13542
5                       PHP       12755

top 10 languages used by professional

In [17]:
studentLangCount = result[result['Employment'] == 'Student'].groupby(by='LanguageHaveWorkedWith', as_index=False, sort=False)['ResponseId'].count()
studentLangCount.nlargest(10, 'ResponseId')

     LanguageHaveWorkedWith  ResponseId
8                    Python        7173
2                JavaScript        6393
1                  HTML/CSS        6167
10                     Java        4435
7                       C++        4296
14                        C        4098
5                       SQL        3759
18  Bash/Shell (all shells)        3272
6                TypeScript        3242
0                        C#        2690

top 10 languages used by students

In [18]:
LangInDevType =  result[result['DevType'] == 'Data or business analyst'].groupby(by='LanguageHaveWorkedWith', as_index=False, sort=False)['ResponseId'].count()
LangInDevType.nlargest(10, 'ResponseId')

     LanguageHaveWorkedWith  ResponseId
5                       SQL         605
3                    Python         559
8                JavaScript         339
14                 HTML/CSS         334
4                         R         225
10                      VBA         192
0   Bash/Shell (all shells)         173
9                        C#         133
2                PowerShell         130
7                      Java         127

languages the is used the most for data science and analysis

In [19]:
LangWantToWorkDF = LanguagesDF[['ResponseId', 'LanguageWantToWorkWith']]

In [20]:
LangWantToWorkDF = LangWantToWorkDF.explode('LanguageWantToWorkWith')

In [21]:
LangWantToWorkDF['LanguageWantToWorkWith'] = LangWantToWorkDF['LanguageWantToWorkWith'].str.replace(r"\[|\]", "", regex=True)

In [22]:
desiredLang_count = LangWantToWorkDF['LanguageWantToWorkWith'].value_counts()

In [23]:
desiredLang_count.head()

LanguageWantToWorkWith
JavaScript    34953
Python        34683
TypeScript    32237
HTML/CSS      29898
SQL           29576
Name: count, dtype: int64

In [24]:
result1 = LangWantToWorkDF.merge(required_data, how='right', on='ResponseId')

In [42]:
employedDesireLangCount = result1[result1['Employment'] == 'Employed'].groupby(by='LanguageWantToWorkWith', as_index=False, sort=False)['ResponseId'].count()
employedDesireLangCount.nlargest(10, 'ResponseId')

     LanguageWantToWorkWith  ResponseId
6                JavaScript       24426
12                   Python       23843
11               TypeScript       23299
17                      SQL       21880
5                  HTML/CSS       20117
7                      Rust       18333
1                        C#       13622
13                       Go       13400
0   Bash/Shell (all shells)       12954
22                     Java        9823

In [27]:
studentDesireLangCount = result1[result1['Employment'] == 'Student'].groupby(by='LanguageWantToWorkWith', as_index=False, sort=False)['ResponseId'].count()
studentDesireLangCount.nlargest(10, 'ResponseId')

     LanguageWantToWorkWith  ResponseId
4                    Python        5369
15                     Rust        4270
2                JavaScript        4139
1                  HTML/CSS        4025
7                TypeScript        3714
8                       C++        3475
6                       SQL        2747
13                        C        2615
18  Bash/Shell (all shells)        2406
12                     Java        2338

In [28]:
LangHaveWorkedDF.to_csv("LangHaveWorkedDF.csv")

In [29]:
LanguagesDF = LanguagesDF.dropna()

In [30]:
LanguagesDF

,Unnamed: 0,ResponseId,MainBranch,Age,Employment,RemoteWork,EdLevel,YearsCode,DevType,Country,AISelect,LanguageHaveWorkedWith,LanguageWantToWorkWith
0,1,2,Professional coder,25-34,Employed,Remote,Bachelor’s degree,18,"Senior Executive (C-Suite, VP, etc.)",United States of America,Yes,"[HTML/CSS, JavaScript, Python]","[Bash/Shell (all shells), C#, Dart, Elixir, GD..."
1,2,3,Professional coder,45-54,Employed,Hybrid,Bachelor’s degree,27,"Developer, back-end",United States of America,No,"[Bash/Shell (all shells), Go]","[Haskell, OCaml, Rust]"
2,3,4,Professional coder,25-34,Employed,Hybrid,Bachelor’s degree,12,"Developer, front-end",United States of America,No,"[Bash/Shell (all shells), HTML/CSS, JavaScript...","[Bash/Shell (all shells), HTML/CSS, JavaScript..."
3,4,5,Professional coder,25-34,Employed,Remote,Bachelor’s degree,6,"Developer, full-stack",Philippines,Yes,"[HTML/CSS, JavaScript, TypeScript]","[HTML/CSS, JavaScript, Python, Rust, TypeScript]"
4,5,6,Professional coder,35-44,Employed,Remote,Without degree,21,"Developer, back-end",United Kingdom of Great Britain and Northern I...,Yes,"[Bash/Shell (all shells), HTML/CSS, JavaScript...","[Go, Rust]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87893,89179,89180,Professional coder,25-34,Employed,Remote,Associate degree,20,"Developer, front-end",Brazil,Yes,"[HTML/CSS, Java, JavaScript, SQL, TypeScript]","[Bash/Shell (all shells), C, Go, HTML/CSS, Jav..."
87894,89180,89181,Professional coder,18-24,Student,Hybrid,Bachelor’s degree,5,"Developer, back-end",Romania,Yes,"[Dart, Java, Python, SQL]","[Java, JavaScript, Python, SQL, TypeScript]"
87895,89181,89182,Hobbyist,Prefer not to say,I prefer not to say,Not Applicable,Something else,10,Others,Israel,Start Soon,"[Assembly, Bash/Shell (all shells), C, C#, Pyt...","[Python, Rust]"
87896,89182,89183,Professional coder,under 18,Employed,Hybrid,Secondary school,3,System administrator,Switzerland,Yes,"[Bash/Shell (all shells), C#, HTML/CSS, Java, ...","[Bash/Shell (all shells), HTML/CSS, JavaScript..."
87897,89183,89184,Professional coder,35-44,Employed,Hybrid,Bachelor’s degree,17,"Developer, full-stack","Iran, Islamic Republic of...",Yes,"[C#, Go, JavaScript, SQL, TypeScript]","[C#, Go, JavaScript, SQL, TypeScript]"

In [31]:
def process_languages(row):
    list1 = row['LanguageHaveWorkedWith']
    list2 = row['LanguageWantToWorkWith']
    list3 = set(list1) & set(list2)
    return list(list3)

LanguagesDF['continueLang'] = LanguagesDF.apply(process_languages, axis=1)

In [32]:
def process_languages(row):
    list1 = row['LanguageHaveWorkedWith']
    list2 = row['LanguageWantToWorkWith']
    list3 = set(list2) - set(list1)
    return list(list3)

LanguagesDF['newLang'] = LanguagesDF.apply(process_languages, axis=1)

In [33]:
LanguagesDF

,Unnamed: 0,ResponseId,MainBranch,Age,Employment,RemoteWork,EdLevel,YearsCode,DevType,Country,AISelect,LanguageHaveWorkedWith,LanguageWantToWorkWith,continueLang,newLang
0,1,2,Professional coder,25-34,Employed,Remote,Bachelor’s degree,18,"Senior Executive (C-Suite, VP, etc.)",United States of America,Yes,"[HTML/CSS, JavaScript, Python]","[Bash/Shell (all shells), C#, Dart, Elixir, GD...","[HTML/CSS, JavaScript]","[GDScript, Elixir, Rust, C#, Bash/Shell (all s..."
1,2,3,Professional coder,45-54,Employed,Hybrid,Bachelor’s degree,27,"Developer, back-end",United States of America,No,"[Bash/Shell (all shells), Go]","[Haskell, OCaml, Rust]",[],"[Haskell, OCaml, Rust]"
2,3,4,Professional coder,25-34,Employed,Hybrid,Bachelor’s degree,12,"Developer, front-end",United States of America,No,"[Bash/Shell (all shells), HTML/CSS, JavaScript...","[Bash/Shell (all shells), HTML/CSS, JavaScript...","[TypeScript, HTML/CSS, Ruby, JavaScript, Bash/...",[]
3,4,5,Professional coder,25-34,Employed,Remote,Bachelor’s degree,6,"Developer, full-stack",Philippines,Yes,"[HTML/CSS, JavaScript, TypeScript]","[HTML/CSS, JavaScript, Python, Rust, TypeScript]","[HTML/CSS, TypeScript, JavaScript]","[Python, Rust]"
4,5,6,Professional coder,35-44,Employed,Remote,Without degree,21,"Developer, back-end",United Kingdom of Great Britain and Northern I...,Yes,"[Bash/Shell (all shells), HTML/CSS, JavaScript...","[Go, Rust]",[],"[Rust, Go]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87893,89179,89180,Professional coder,25-34,Employed,Remote,Associate degree,20,"Developer, front-end",Brazil,Yes,"[HTML/CSS, Java, JavaScript, SQL, TypeScript]","[Bash/Shell (all shells), C, Go, HTML/CSS, Jav...","[SQL, HTML/CSS, JavaScript]","[Bash/Shell (all shells), C, Go]"
87894,89180,89181,Professional coder,18-24,Student,Hybrid,Bachelor’s degree,5,"Developer, back-end",Romania,Yes,"[Dart, Java, Python, SQL]","[Java, JavaScript, Python, SQL, TypeScript]","[Python, Java, SQL]","[TypeScript, JavaScript]"
87895,89181,89182,Hobbyist,Prefer not to say,I prefer not to say,Not Applicable,Something else,10,Others,Israel,Start Soon,"[Assembly, Bash/Shell (all shells), C, C#, Pyt...","[Python, Rust]","[Python, Rust]",[]
87896,89182,89183,Professional coder,under 18,Employed,Hybrid,Secondary school,3,System administrator,Switzerland,Yes,"[Bash/Shell (all shells), C#, HTML/CSS, Java, ...","[Bash/Shell (all shells), HTML/CSS, JavaScript...","[PowerShell, SQL, Solidity, HTML/CSS, Python, ...",[TypeScript]
87897,89183,89184,Professional coder,35-44,Employed,Hybrid,Bachelor’s degree,17,"Developer, full-stack","Iran, Islamic Republic of...",Yes,"[C#, Go, JavaScript, SQL, TypeScript]","[C#, Go, JavaScript, SQL, TypeScript]","[TypeScript, SQL, Go, C#, JavaScript]",[]

In [34]:
LangUse = LanguagesDF[['continueLang', 'ResponseId']]
LangUse = LangUse.explode('continueLang')

In [35]:
LangUse = LangUse.groupby(by='continueLang', as_index = False)['ResponseId'].count()

In [36]:
desireLang = LanguagesDF[['newLang', 'ResponseId']]
desireLang = desireLang.explode('newLang')

In [37]:
desireLang = desireLang.groupby(by='newLang', as_index=False)['ResponseId'].count()

In [38]:
languageTable = LangUse.merge(desireLang, how='inner', left_on='continueLang', right_on='newLang')

In [39]:
languageTable = languageTable[['continueLang', 'ResponseId_x', 'ResponseId_y']]
languageTable.rename(columns = {
    'continueLang':'language', 
    'ResponseId_x':'CurrentlyUsed',
    'ResponseId_y':'DesiredToUse'
}, inplace=True)
languageTable

                   language  CurrentlyUsed  DesiredToUse
0                       APL            100           306
1                       Ada            277           382
2                      Apex            278           203
3                  Assembly           1874          1954
4   Bash/Shell (all shells)          17113          1156
5                         C           7327          2693
6                        C#          15197          3381
7                       C++           9760          4453
8                   Clojure            757          1153
9                     Cobol            117           278
10                  Crystal            186           411
11                     Dart           3087          2965
12                   Delphi           1777           171
13                   Elixir           1482          2393
14                   Erlang            479           936
15                       F#            486          1614
16                     Flow             53           128
17                  Fortran            203           305
18                 GDScript            940           622
19                       Go           7234         10748
20                   Groovy            892           329
21                 HTML/CSS          28693          1205
22                  Haskell            955          2403
23                     Java          11795          2576
24               JavaScript          32188          2765
25                    Julia            633          1549
26                   Kotlin           4821          5731
27                     Lisp            732           973
28                      Lua           2557          1519
29                   MATLAB            612           527
30                      Nim            178           632
31                    OCaml            331           752
32              Objective-C            456           498
33                      PHP           6801          1205
34                     Perl            746           332
35               PowerShell           5153           985
36                   Prolog            186           372
37                   Python          28249          6434
38                        R           1442          1624
39                     Raku            102           177
40                     Ruby           2599          1689
41                     Rust           9665         17028
42                      SAS            160           195
43                      SQL          27374          2202
44                    Scala           1265          1503
45                 Solidity            542          1054
46                    Swift           2499          2883
47               TypeScript          24397          7840
48                      VBA            740           210
49      Visual Basic (.Net)            829           519
50                      Zig            518          3125

In [40]:
languageTable.to_csv('Languages.csv')

In [240]:
difference.nlargest(10, 'ResponseId_y')

   continueLang  ResponseId_x     newLang  ResponseId_y
41         Rust          9665        Rust         17028
19           Go          7234          Go         10748
47   TypeScript         24397  TypeScript          7840
37       Python         28249      Python          6434
26       Kotlin          4821      Kotlin          5731
7           C++          9760         C++          4453
6            C#         15197          C#          3381
50          Zig           518         Zig          3125
11         Dart          3087        Dart          2965
46        Swift          2499       Swift          2883

In [241]:
difference.nlargest(10, 'ResponseId_x')

,continueLang,ResponseId_x,newLang,ResponseId_y
24,JavaScript,32188,JavaScript,2765
21,HTML/CSS,28693,HTML/CSS,1205
37,Python,28249,Python,6434
43,SQL,27374,SQL,2202
47,TypeScript,24397,TypeScript,7840
4,Bash/Shell (all shells),17113,Bash/Shell (all shells),1156
6,C#,15197,C#,3381
23,Java,11795,Java,2576
7,C++,9760,C++,4453
41,Rust,9665,Rust,17028